body {
    background-color: #f8f9fa;
}

.navbar {
    border-bottom: 1px solid #e7e7e7;
}

.card {
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px; /* Ajusta la altura para que las imágenes sean más horizontales */
    object-fit: cover;
}

.card-title {
    font-weight: bold;
}

.card-text {
    color: #6c757d;
}

.btn-primary {
    background-color: #00ACC1;
    border-color: #00ACC1;
}

.btn-primary:hover {
    background-color: #007b8a;
    border-color: #007b8a;
}

